/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Play);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Play', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin del reset */

/* Configuracion de la portada */
.portada{
	height: 400px;
	background: url('../img/ball.gif');
	background-position: center;
	display: flex;
	position: relative;
	font-family: Arial,Helvetica,Sans-serif;
}
/* Portada .centrado. Imagen de mi Perfil */
.portada .centrado{
	margin: auto;
	text-align: center;
}
/* Configuraciones de la imagen de mi tama;o */
.portada img{
	widows: 400px;
	height: 300px;
	margin: auto;
	border-radius: 117px;
}
/* XXX del nombre */
.portada h1{
	font-size: 3em;
	color: #e6e2e2;
}


/* colores: #F99157 #85AE85
	#F2777A
*/

/* Botones Blog, Contacto */
.boton{
	color: white;
	border: 1px solid white;
	padding: 10px;
	position: absolute;
	top: 0;
	border-radius: 15px;
	right: 10px;
}
/* boton blog */
.boton:nth-of-type(2){
	right: 150px;
}
/* boton contacto */
.boton:nth-child(3){
	margin-right: 15px;
}
/* boton blog */
.boton:hover:nth-child(2){
	background:#85AE85;
	cursor: pointer;
}
/* boton contacto */
.boton:hover:nth-child(3){
	background: #F2777A;
	cursor: pointer;
}
/* contenedor, de bio & habilidades */
.contenedor{
	border: 6px solid #FF6210;
	border-left: none;
	border-bottom: none;
	border-right: none;
}
/* titulo de Bio */
.contenedor .tit{
	margin-top: 5px;
	left: 0;
	width:10%;
	height: 100%;
	display: inline-block;

}
/* contenido de Bio */
.contenedor .bio{
	margin-top: 5px;
	right: 20%;
	display: inline-block;
	width: 70%;
	font-size: 20;
	margin: auto;
}
.contenedor .bio p{
	position: relative;
	top: 0px;
}
/* Titulo de habilidades */
.contenedor .tit2{
	margin-top: 5px;
	right: 130;
	width:10%;
	height: 100%;
	display: inline-block;

}
/* contendido habilidades */
.contenedor .habilidades{
	margin-top: 5px;
	display: inline-block;
	top: 0;
	width:8%;
	font-size: 20;
	right: 40;
	margin: auto;
	text-align: center;
	text-decoration: underline;
}
/* configuraciones del titulo de Bio */
.contenedor .tit .h1 li{
	border: 5px solid #8E85E2;
	text-align: center;
	background: white;
	height: 100%;
	padding: 20px 6px 8px 0px;
	border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	list-style: none;
	font-size: 40;
	border-top: none;
	border-left: none;
	border-bottom: none;
}
/* configuraciones del titulo de Habilidades */
.contenedor .tit2 .h1 li{
	border: 5px solid #94E285;
	text-align: center;
	background: white;
	padding: 20px 6px 8px 0px;
	border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	list-style: none;
	font-size: 40;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.quote {
	background: black;
	color: white;
	margin-top: 10px;
	position: relative;
	height: 100px;
	display: flex;
	font-style: italic;#
}
.quote h3{
	margin: auto;
	font-size: 3em;
}
.quote p{
	color: white;
	position: absolute;
	bottom: 10px;
	right: 30px;
	font-size: 20px;
}
.favoritos{
	max-width: 900px;
	margin-top: 10px;
	margin: auto;
}

.favoritos h2{
	font-size: 3em;
}
.favoritos .uno{
	display: flex;
	margin-top: 10px;
}
.favoritos .uno img{
	width: 30%;
	display: inline-block;

}
.favoritos .uno p{
	display: inline-block;
	width: 60%;
	margin-left: 2%;
	font-size: 20;
}
.foot{
	background: black;
}
.foot a{
	color: #F2777A;
	margin-top: 10px;
	position: relative;
	height: 40px;
	display: inline-block;
	margin-right: 15%;
	width: 100px;
	margin-left: 10%;
}
.foot a:nth-child(2){
	color: #85AE85;
}
.foot a:nth-child(1){
	color: #8E85E2;
}
